<link rel="stylesheet" href="/css/admin_dashboard.css"><!-- Style sheet link -->
<%if (locals.user){ %>
	<!-- Admin Dashboard -->
	<section id="dashboard">
		<!-- Employee details Section -->
		<section id="employee-details">
			<!-- Employee details Div -->
			<div id="details-div">      
				<!-- Employee details card -->
				<div class="card" style="width: 25rem">
					<!-- Heading -->
					<div>
							<h4 class="text-center"> Employees Details</h4>
					</div>
					<!-- Heading -->

					<!-- <Body div -->
					<div id="body-div">    
						<!-- Card body for all employees-->
						<% for(e of employees) { %>
							<div class="card-body">
								<!-- Employee name -->
								<div id="employee-name" class="flex-values">
									<span>Employee Name:</span><span><%= e.name %></span>
								</div>
								<!-- Employee name -->
								<!-- Links to profile and reviews -->
								<div id="manage-links" class="flex-values">
									<a href="/admin/manage-profile/<%= e._id %>/<%=admin._id %>">Manage Profile</a>
									<a href="/admin/manage-reviews/<%= e._id %>/<%=admin._id %>">Manage Reviews</a>
								</div>
								<!-- Links to profile and reviews -->
							</div> 
						<% } %>
						<!-- Card body for all employees-->
					</div>
					<!-- <Body div -->

				</div>
				<!-- Employee details card -->
			</div>
			<!-- Employee details Div -->  
		</section>
		<!-- Employee details Section -->

		<!-- Add New Employee Section -->
		<section id="add-new-employee">
			<!-- Add New Employee Div -->
			<div id="add-employee" class="card">
				<!-- Heading -->
				<h4 class="text text-center"> Add New Employee</h4>
				<div id="add-employee-form">
					<!-- Add Employee Form -->
					<form action="/admin/register-employee/<%= admin._id %>" method="POST">
							<!-- Name Input -->
							<div class="form-outline mb-4">
									<input
											type="text"
											name="name"
											class="form-control"
											placeholder="Employee User Name"
											required
									>
							</div>
							<!-- Name Input -->
							<!-- Email input -->
							<div class="form-outline mb-4">
									<input
											type="email"
											name="email"
											placeholder="Employee Email"
											class="form-control"
											required
									>
							</div>
							<!-- Email input -->
							<!-- Age input -->
							<div class="form-outline mb-4">
									<input
											type="number"
											name="age"
											placeholder="Enter Employee's age"
											class="form-control"
											required
									>
							</div>
							<!-- Age input -->
							<!-- Gender input -->
							<div class="form-outline mb-4 gender">
									<p>Select Employee's Gender:</p>
									<div id="gender-selection">
											<span>
													<input type="radio" name="gender" value="Male" required>
													Male
											</span>
											<span>
													<input type="radio" name="gender" value="Female">
													Female
											</span>
											<span>
													<input type="radio" name="gender" value="Not_revealed">
													Prefer not to reveal
											</span>
									</div>
							</div>
							<!-- Gender input -->
							<!-- Phone number input -->
							<div class="form-outline mb-4">
									<input
											type="number"
											name="phone_number"
											placeholder="Employee phone number"
											class="form-control"
											required
									>
							</div>
							<!-- Phone number input -->
							<!-- Password input -->
							<div class="form-outline mb-4">
									<input
											type="password"
											name="password"
											placeholder="Enter Password"
											class="form-control"
											required
									>
							</div>
							<!-- Password input -->
							<!-- Confirm Password input -->
							<div class="form-outline mb-4">
									<input
											type="password"
											name="confirm_password"
											class="form-control"
											placeholder="Confirm Password"
											required
									>
							</div>
							<!-- Confirm Password input -->
							<!-- Add Employee Button -->
							<input type="submit" class="btn btn-primary btn-block mb-4" value="Add Employee">
							<!-- Add Employee Button -->
					</form>
					<!-- Add Employee Form -->
				</div>
			</div> 
		</section>
		<!-- Add New Employee Section -->
	</section>
	<!-- Admin Dashboard -->
<% } %>}