<link rel="stylesheet" href="/css/employee_profile.css">
<%= title %>
<% if(locals.user) {%>
<section id="update">
  <section id="employee-details">  
    <div id="Update-details">
      <form action="/admin/update-details/<%= employee.id%>/<%=admin.id %>" method="POST">
        <div class="card" style="width: 18rem;">
          <div class="card-header">
            <h5> Employee Details</h5>
            <span id="edit-details" onclick="openInput()"><i class="fa-solid fa-pen"></i> </span>
          </div>
          <div class="card-body">

            <div> 
              <p>
                <span>Name: </span>
                <span class="value" style="display: inline;"><%= employee.name %></span>
                <input class="edit" type="text" style="display: none;" name="name" id="name" placeholder="<%= employee.name %>">
              </p>
              <p>
                <span>Age: </span>
                <span class="value" style="display: inline;"><%= employee.age %></span>
                <input class="edit" type="number" style="display: none;" name="age" id="age" placeholder="<%= employee.age %>">
              </p>
              <p>
                <span>Gender: </span>
                <span class="value" style="display: inline;"><%= employee.gender %></span>
                <input class="edit" type="text" style="display: none;" name="gender" id="gender" placeholder="<%= employee.gender %>">
              </p>
              <p>
                <span>Mobile Number: </span>
                <span class="value" style="display: inline;"><%= employee.phone_number %></span>
                <input class="edit" type="number" style="display: none;" name="number" id="gender" size="10" placeholder="<%= employee.phone_number %>">
              </p>
              <p><span id="value">Role:<%= employee.role %></span></p>
            </div>
          </div>
          
          <div>
            <input class="edit" type="submit" name="update" style="display: none;" value="Update Employee Details">
          </div>
        </div>
      </form>
    </div>
  
    <div id="update-role">
      <h4>UpdateRole:</h4>
      <form action="/admin/update-role/<%= employee.id%>/<%=admin.id %>" method="POST">
        <p>Current Role of <%= employee.name %>: <%= employee.role %></p>
        <input type="radio" name="role" value="Employee"> Employee
        <input type="radio" name="role" value="Admin"> Admin
        <input type="submit" name="Update Role" value="Update Role">
      </form>
    </div>
  </section>
</section>
  <section>
    <form action="/admin/delete-employee/<%= employee.id%>/<%=admin.id %>" method="POST">
      
      <input type="submit" name="delete" value="Delete Employee">
      <input type="hidden" name="id" value="<% admin.id %>">
      </form>
    </section>
  
    <script>
      function openInput() {
        const inputs= document.getElementsByClassName("edit");
        for(i of inputs) {
          if (i.style.display=='none') {
             i.style.display = 'inline';
          } else {
            i.style.display = 'none';   
          }
        }
    
        const values= document.getElementsByClassName("value");
        for(v of values) {
          if (v.style.display=='inline') {
             v.style.display = 'none';
          } else {
            v.style.display = 'inline';   
          }
        }
     
          
        
      }
    </script>
<% } %>