<link rel="stylesheet" href="/css/feedback.css"> <!-- Styling sheet link -->
<% if(user) {%>
  <!-- Employee welcome div -->
  <div class="text-center">
    <h3> Hi, <%= reviewer.name %></h3>
  </div>
  <!-- Employee welcome div -->
  
  <!-- Feedback Form section -->
  <section id="feedback-form">
    <!-- Feedback Card -->
    <div class="card">
      <!-- rating details-->
      <div class="text-center">
        <h5> Rate the employee <%= employee.name %> in different categories on a scale of 5</h5>
      </div>
      <div class="text-center">
       <h6> 1 for the lowest rating,5 being the top</h6>
      </div>
      <!-- rating details-->
      <hr>
      <% let path %>
      <% if(reviewer.role == "Employee") {
        path="/employee/submit-feedback";
      } else {%>
      <% path="/admin/submit-feedback"  %>
      <% }%> 
      <!-- Feedback Form-->
      <form action=<%= path %> method="POST">
        <div class="card-body">
          <input type="hidden" name="reviewerId" value="<%= reviewer.id %>">
          <input type="hidden" name="employeeId" value="<%= employee.id %>">

          <!-- Team work Rating card-->
          <div class="rating-card"> 
            <span class="rating-detail">How would you rate your colleague for teamwork ?</span>
            <span class="rating" > 
              <span><input type="radio" name="teamwork" value="1" required> 1 </span>
              <span><input type="radio" name="teamwork" value="2"> 2 </span>
              <span><input type="radio" name="teamwork" value="3"> 3 </span>
              <span><input type="radio" name="teamwork" value="4"> 4 </span>
              <span><input type="radio" name="teamwork" value="5"> 5 </span>     
            </span>
          </div>
          <!-- Team work Rating card-->
    
          <!-- Work knowledge Rating card-->

          <div class="rating-card">
            <span class="rating-detail"> How would you rate your colleague for work knowledge?</span>
            <span class="rating">
              <span><input type="radio" name="knowledge" value="1" required> 1 </span>
              <span><input type="radio" name="knowledge" value="2"> 2 </span>
              <span><input type="radio" name="knowledge" value="3"> 3 </span>
              <span><input type="radio" name="knowledge" value="4"> 4 </span>
              <span><input type="radio" name="knowledge" value="5"> 5 </span>
            </span>
          </div>
          <!-- Work knowledge Rating card-->

          <!-- Communication Rating card-->

          <div class="rating-card">
            <span class="rating-detail"> How would you rate your colleague for communication with team ?</span>
            <span class="rating">
              <span><input type="radio" name="communication" value="1" required> 1 </span>
              <span><input type="radio" name="communication" value="2"> 2 </span>
              <span><input type="radio" name="communication" value="3"> 3 </span>
              <span><input type="radio" name="communication" value="4"> 4 </span>
              <span><input type="radio" name="communication" value="5"> 5 </span>
            </span>
          </div>
          <!-- Communication Rating card-->

          <!-- Additional feedback card-->
          <div class="rating-card">
            <span class="rating-detail">
              Add further feedback, mentioning the points you would like to highlight about your collegue         
            </span>
            <span class="rating"> <textarea id="feedback" name="feedback" rows="4" cols="50" placeholder="Enter text here..."></textarea> </span>
          </div >  
          <!-- Additional feedback card-->

          <!-- Submit feedback button-->
          <div class="text-center">
            <input type="submit" name="submit feedback" class="btn btn-primary" value="Submit Feedback"></div>
          </div>
          <!-- Submit feedback button-->
    </form>
    <!-- Feedback Form-->
  </section>
  <!-- Feedback Form section --> 
<% } %>